<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mebalih Movie</title>
</head>
<body>
    
    <header>
        <nav>
            <logo-nav></logo-nav>
            <nav-links></nav-links>
            <button class="menu-bar">☰</button>
        </nav>
    </header>

    <main>
        <section>
            <div class="jumbotron">
                <b>MEBALIH MOVIE</b>
                <p>Temukan film-film terbaru dan terbaik di sini!</p>
            </div>
        </section>
        <section id="movie">

            
           
        </section>
    </main>

    <footer>
        <section class="links-footer">
            <div class="links">
                <b class="title">Customer Support</b>
                <ul class="sub-links">
                    <li><a href="">Contact us</a></li>
                    <li><a href="">Offer</a></li>
                </ul>
            </div>
            <div class="links">
                <b class="title">Help Center</b>
                <ul class="sub-links">
                    <li><a href="">Privacy</a></li>
                    <li><a href="">Contact Investors</a></li>
                </ul>
            </div>
            <div class="links">
                <b class="title">About us</b>
                <ul class="sub-links">
                    <li><a href="">Our Company</a></li>
                    <li><a href="">Illegal Information</a></li>
                </ul>
            </div>
        </section>
    </footer>
    <script src="./dist/bundle.js"></script>
</body>
</html>